/***********************************/
/*         rodstyles-inventory.css */
/***********************************/

/* ======================= */
/*   Chest / Inventory     */
/* ======================= */
#chestPopup {
    position: absolute;
    width: 800px;
    max-height: 90%;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 20px;
    border: 2px solid #aaa;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: hidden;
    display: none;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

#chestInventoryContainer {
    display: flex;
    gap: 20px;
    flex-wrap: wrap; /* Allow wrapping if necessary */
}

#chestPopup .inventoryGrid {
    max-height: 400px;
    overflow-y: hidden;
    display: grid;
    grid-template-columns: repeat(7, 50px); /* Adjust columns as needed */
    grid-auto-rows: 50px;
    gap: 2px;
    margin-top: 10px;
}

/* Generic Inventory Grids / Slots */
.inventoryGrid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    min-height: 300px; /* Ensures grid height remains even when empty */
}

.inventory-slot {
    border: 1px solid #555;
    background: rgba(255, 255, 255, 0.1);
    text-align: center;
    padding: 8px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.inventory-slot:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
