body { 
    margin: 0; 
    overflow: hidden; 
    cursor: none; 
}

#credits {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: white;
    font-family: 'Pixelify Sans', Arial, sans-serif;
    font-size: 16px;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

canvas { 
    display: block; 
}

#title {
    position: fixed;
    top: 10px;
    left: 10px;
    color: white;
    font-family: 'Pixelify Sans', Arial, sans-serif;
    font-size: 48px;
}

#crosshair {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    pointer-events: none;
}

#crosshair::before,
#crosshair::after {
    content: '';
    position: absolute;
    background: white;
}

#crosshair::before {
    left: 50%;
    width: 2px;
    height: 20px;
    transform: translateX(-50%);
}

#crosshair::after {
    top: 50%;
    height: 2px;
    width: 20px;
    transform: translateY(-50%);
}
